body {
  font-family: "Poppins", sans-serif;
  background: #0f1113;
  color: #e9eef6;
}

.card {
  background: #1c1c1c;
  border: none;
  color: #fff;
}

#video-grid video {
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  background: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.form-control-dark {
  background: #141618;
  color: #e9eef6;
  border: 1px solid #333;
}

.form-control-dark:focus {
  border-color: #7c5cff;
  box-shadow: 0 0 0 0.2rem rgba(124, 92, 255, 0.25);
}
